*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.header{
	width: 100%;
	height: 40px;
/*	background-color: #ececec;*/
	margin: 0px auto;
	clear: both;
}

.chose_button{
	display: inline-block;
	height: 100%;
	width: 25%;
	background-color: blue;
	float: left;
	border-left: 1px solid red;
	border-right: 1px solid red;
	box-sizing: border-box;
	/*确保在加上border-size后依然不超过预期的长宽*/
}
.chose_button a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #ddd;
	line-height: 40px;
	color: green;
	text-decoration-line: none;
}
.chose_button a:hover{
	line-height: 50px;
}
/**/
